<!DOCTYPE html>
<html>
<head>
  <title>SimplecodecastsSaas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class='container'>
      <div class="navbar-header">
        <buttom type="buttom" class="navbar-toggle" date-toggle="collapse" data-targets="#main-nav-collapse">
          <spam class="sr-only">Toggle navigation</spam>
          <spam class="icon-bar"></spam>
          <spam class="icon-bar"></spam>
          <spam class="icon-bar"></spam>
        </buttom>
        <%= link_to 'Saas', root_path, class: 'navbar-brand' %>
      </div>
      
      
      <div class="collapse navbar-collapse" id="main-nav-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "About", about_path %></li>
        </ul>
        
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>

<%= yield %>

</body>
</html>
